@font-face {
    font-family: "a-regular";
    src: url("../assets/GlobalFont/AvenirNextProLT/regular.otf");
}

@font-face {
    font-family: "a-demi";
    src: url("../assets/GlobalFont/AvenirNextProLT/demi.otf");
}

@font-face {
    font-family: "a-bold";
    src: url("../assets/GlobalFont/AvenirNextProLT/bold.otf");
}