@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/header";
@import "./partials/video";
@import "./partials/about";
@import "./partials/commentsInput";
@import "./partials/comments";
@import "./partials/nextVideo";
@import './partials/desktopInfo';

html,
body {
	margin: 0;
	padding: 0;
	font-family: a-regular;
}
