.vid {
	&-video {
		height: 183px;
		width: 100%;
		position: relative;
		z-index: -1;
	}

	&-button {
		width: 90%;
		padding: 0 5%;
		position: absolute;
		display: flex;
		top: 300px;
	}

	&-right {
		border-radius: 10px;
		width: 70px;
		justify-content: space-around;
		display: flex;
		align-items: center;
		margin-left: auto;
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.video {
	// &-range {
	// 	background-color: rgba(0, 0, 0, 0.6);
	// }
	&-button {
		// background-color: rgba(0, 0, 0, 0.6);
		width: 30px;
		height: 27px;
	}

	&__play {
		&-box {
			background-color: rgba(0, 0, 0, 0.6);
			border-radius: 10px;
			width: 50px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 6;
			// margin: auto;
		}
	}
}
