@font-face {
  font-family: "a-regular";
  src: url("../assets/GlobalFont/AvenirNextProLT/regular.otf");
}

@font-face {
  font-family: "a-demi";
  src: url("../assets/GlobalFont/AvenirNextProLT/demi.otf");
}

@font-face {
  font-family: "a-bold";
  src: url("../assets/GlobalFont/AvenirNextProLT/bold.otf");
}

.header {
  margin-top: 10px;
  height: 159px;
  padding: 0 5%;
  text-align: center;
}

.header__img {
  height: 30px;
}

.header__img-box {
  height: 38px;
}

.header__search {
  background-image: url("../assets/Images/search.png");
  background-size: 20px 20px;
  background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
  border: 2px solid #e1e1e1;
  border-radius: 10px;
  height: 50px;
  padding-left: 20px;
}

.header__submit {
  background-color: #0095ff;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__submit-btn {
  color: white;
  font-size: 15px;
  background-color: #0095ff;
  border: none;
}

.header__submit-box {
  margin: 8px 0 16px 0;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 16px;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 16px 3.125%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__img {
    height: 25px;
  }
  .header__img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
  }
  .header__search {
    width: 30%;
    height: 35px;
  }
  .header__submit {
    width: 200px;
    height: 35px;
    margin: 0 5%;
  }
  .header__submit-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 25%;
  }
  .header__avatar {
    margin: 0;
    height: 35px;
    width: 35px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 12.5%;
    height: 70px;
  }
  .header__search {
    -webkit-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
  }
  .header__search:focus {
    border: 2px solid #0095ff;
    outline: none;
  }
  .header__search:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 0 5px #0095ff;
            box-shadow: 0 0 5px #0095ff;
  }
  .header__img-box {
    margin-right: 46%;
  }
  .header__submit-btn {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
  }
  .header__submit-btn:hover {
    background-color: #0065ad;
    cursor: pointer;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .header__submit-btn:focus {
    outline: none;
  }
  .header__submit-box {
    width: 15%;
  }
  .header__submit:hover {
    background-color: #0065ad;
  }
}

.vid-video {
  height: 183px;
  width: 100%;
  position: relative;
  z-index: -1;
  background-color: #323232;
}

.vid-button {
  width: 90%;
  padding: 0 5%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 300px;
}

.vid-right {
  border-radius: 10px;
  width: 70px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video-range {
  overflow: hidden;
  border-radius: 5px;
  width: 80%;
  height: 5px;
  -webkit-appearance: none;
  background-color: #323232;
}

.video-range::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #323232;
  margin-top: -1px;
}

.video-range::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #323232;
  -webkit-box-shadow: -80px 0 0 80px #323232;
          box-shadow: -80px 0 0 80px #323232;
}

.video__range {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-button {
  width: 25px;
  height: 20px;
}

.video__time {
  display: none;
}

.video__play-box {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 50px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
  margin-right: 8px;
}

@media only screen and (min-width: 768px) {
  .vid-video {
    height: 400px;
  }
  .vid-button {
    top: 430px;
    padding: 0 3.125%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 94%;
  }
}

@media only screen and (min-width: 1440px) {
  .vid-video {
    height: 540px;
  }
  .vid-button {
    padding: 0 0 0 18%;
  }
  .vid-button {
    width: 65%;
    top: 560px;
  }
  .video__range {
    width: 83%;
  }
  .video__time {
    display: inline-block;
    color: white;
    margin: 0 0 0 5%;
  }
}

.about {
  padding: 0 5%;
}

.about__title {
  margin: 32px 0 16px 0;
}

.about__date {
  margin: 0 0 0 8px;
  color: #afafaf;
  font-weight: 100;
}

.about__date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__author {
  margin: 0;
  text-transform: capitalize;
}

.about__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0 24px 0;
  border-bottom: 2px solid #e1e1e1;
}

.about__view__num {
  margin: 0 0 0 8px;
  font-weight: 300;
}

.about__like__img {
  margin-left: 10%;
}

.about__para {
  margin: 24px 0 40px 0;
}

.about__para-text {
  margin: 0;
  font-weight: 100;
}

@media only screen and (min-width: 768px) {
  .about {
    padding: 0 3.125%;
  }
  .about__title {
    margin: 48px 0 24px 0;
  }
  .about__view {
    padding: 0;
    border: none;
    margin-right: 3.125%;
  }
  .about__view__num {
    margin-left: 8px;
  }
  .about__like__img {
    margin-left: 24px;
  }
  .about__dateview-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 2px solid #afafaf;
    padding-bottom: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__para {
    padding-right: 30%;
    margin: 40px 0 64px 0;
  }
  .about__para-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1440px) {
  .about__title {
    margin: 0 0 20px 0;
    font-family: a-bold;
    font-size: 35px;
  }
  .about__author {
    font-family: a-demi;
  }
  .about__para-text {
    font-size: 18px;
  }
}

.commentsInput {
  padding: 0 5%;
}

.commentsInput__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.commentsInput-avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-top: 60px;
}

.commentsInput__title {
  margin: 0;
}

.commentsInput__form {
  width: 75%;
  margin-top: 32px;
}

.commentsInput__form-title {
  text-transform: uppercase;
  font-size: 12px;
  color: #afafaf;
}

.commentsInput__form-input {
  padding-left: 10px;
  height: 50px;
  border: 2px solid #e1e1e1;
}

.commentsInput__form-input {
  width: 97%;
  height: 80px;
  border-radius: 10px;
}

.commentsInput__form-submit {
  width: 100%;
  background-color: #0095ff;
  margin-top: 16px;
  height: 40px;
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  .commentsInput {
    padding: 0 5.2% 0 3.125%;
  }
  .commentsInput__form {
    width: 85%;
  }
  .commentsInput__form-submit {
    margin: 0 0 0 2%;
    width: 30%;
  }
  .commentsInput__form-input {
    width: 70%;
    height: 35px;
  }
  .commentsInput__form-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1440px) {
  .commentsInput-avatar {
    margin-top: 70px;
  }
  .commentsInput__form {
    width: 90%;
  }
  .commentsInput__form-input {
    width: 80%;
    height: 40px;
  }
  .commentsInput__form-input:focus {
    outline: none;
    border: 2px solid #0095ff;
  }
  .commentsInput__form-submit {
    height: 40px;
  }
}

.comments {
  margin-top: 32px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
}

.comments-avatar {
  background-color: grey;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-top: 20px;
}

.comments__date {
  font-weight: 200;
  color: #afafaf;
}

.comments__textbox {
  font-weight: 300;
  margin: 0;
}

.comments__box {
  width: 70%;
}

.comments__box-namedate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .comments {
    margin-top: 32px;
    padding-bottom: 24px;
  }
  .comments__box {
    width: 86%;
  }
  .comments__name {
    margin: 0 0 10px 0;
  }
  .comments__date {
    margin: 0 0 0 10px;
  }
  .comments__textbox {
    font-weight: 100;
    font-size: 13px;
  }
  .comments__box-namedate {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media only screen and (min-width: 1440px) {
  .comments__box {
    width: 90%;
  }
}

.next {
  padding: 0 5%;
}

.next-title {
  margin: 40px 0;
  text-transform: uppercase;
  color: #afafaf;
}

.next__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.next__video-thumbnail {
  height: 70px;
  width: 120px;
}

.next__video-a {
  text-decoration: none;
  color: #323232;
}

.next__video-title {
  margin: 0 0 0 16px;
  font-weight: 200;
  font-size: 15px;
  font-family: a-demi;
}

.next__video-author {
  margin: 0 0 0 16px;
  font-weight: 100;
  font-size: 15px;
}

.next__video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .next {
    padding: 0 3.125%;
  }
  .next__video {
    width: 50%;
  }
  .next__video-box {
    margin-left: 10px;
  }
  .next__video-title {
    margin: 0;
  }
  .next__video-author {
    margin: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .next {
    padding: 0;
    margin: 0 0 0 20px;
  }
  .next-title {
    margin: 0 0 40px 0;
  }
  .next__video {
    width: 90%;
    margin: 0 0 50px 0;
  }
  .next__video-thumbnail {
    height: 70px;
  }
  .next__video-bigTitle {
    width: 100%;
    font-family: a-demi;
  }
}

@media only screen and (min-width: 1440px) {
  .desktop-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 12.5%;
    margin-top: 40px;
  }
  .desktop__box {
    width: 100%;
  }
}

.title {
  color: #afafaf;
  text-transform: uppercase;
}

.upload {
  padding: 0 5%;
}

.upload-title {
  font-family: a-demi;
  padding: 24px 0 32px 0;
  border-top: 1px solid #e1e1e1;
  text-transform: capitalize;
  margin: 0;
}

.upload__thumbnail-title {
  margin: 0 0 10px 0;
}

.upload__thumbnail-video {
  height: 153px;
}

.upload__input__title {
  margin: 32px 0 5px 0;
}

.upload__input__title-input {
  height: 40px;
  border: 1px solid #e1e1e1;
  width: 95%;
  border-radius: 10px;
  padding-left: 5%;
  color: black;
}

.upload__input__title-input:focus {
  outline: none;
  border: 1px solid #0095ff;
}

.upload__des-input {
  height: 143px;
  border: 1px solid #e1e1e1;
  width: 95%;
  border-radius: 10px;
  padding-left: 5%;
  color: black;
}

.upload__des-input:focus {
  outline: none;
  border: 1px solid #0095ff;
}

.upload__btn-pub {
  font-family: a-demi;
  color: #ffffff;
  margin: 32px 0 24px 0;
  height: 50px;
  width: 100%;
  background-color: #0095ff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 13px;
}

.upload__btn-can {
  font-family: a-demi;
  color: #0095ff;
  width: 100%;
  text-transform: uppercase;
  font-size: 13px;
}

@media only screen and (min-width: 768px) {
  .upload {
    padding: 0 3.125%;
  }
  .upload-title {
    padding: 48px 0 32px 0;
    border: none;
    border-bottom: 2px solid #e1e1e1;
  }
  .upload__thumbnail {
    margin: 40px 0;
  }
  .upload__thumbnail-video {
    height: 183px;
    width: 48%;
  }
  .upload__input__title {
    margin: 0;
  }
  .upload__input__title-text {
    margin: 0 0 2px 0;
    font-size: 10px;
  }
  .upload__input__title-input {
    padding-left: 2%;
    width: 98%;
  }
  .upload__des {
    padding-bottom: 40px;
    border-bottom: 1px solid #e1e1e1;
  }
  .upload__des-title {
    margin: 24px 0 3px 0;
    font-size: 10px;
  }
  .upload__des-input {
    padding-left: 2%;
    width: 98%;
  }
  .upload__btn {
    margin: 40px 0 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .upload__btn-pub {
    width: 22%;
    margin: 0;
  }
  .upload__btn-can {
    width: 22%;
  }
  .upload__btn-canc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .upload {
    padding: 0 12.5%;
  }
  .upload-title {
    font-family: a-bold;
    font-size: 35px;
  }
  .upload-deskBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .upload__thumbnail {
    width: 32%;
  }
  .upload__thumbnail-video {
    width: 100%;
  }
  .upload__input {
    width: 68%;
    margin: 40px 0 40px 2%;
  }
  .upload__input__title-text {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .upload__des {
    padding-bottom: 0;
    border: none;
  }
  .upload__des-title {
    font-size: 15px;
  }
  .upload__des-input {
    height: 94px;
  }
  .upload-deskBox {
    padding-bottom: 40px;
    border-bottom: 2px solid #afafaf;
  }
  .upload__btn-pub {
    width: 15%;
  }
  .upload__btn-can {
    width: 15%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: a-regular;
}
/*# sourceMappingURL=main.css.map */