@font-face {
  font-family: "a-regular";
  src: url("../assets/GlobalFont/AvenirNextProLT/regular.otf");
}

@font-face {
  font-family: "a-demi";
  src: url("../assets/GlobalFont/AvenirNextProLT/demi.otf");
}

@font-face {
  font-family: "a-bold";
  src: url("../assets/GlobalFont/AvenirNextProLT/bold.otf");
}

.header {
  margin-top: 10px;
  height: 159px;
  padding: 0 5%;
  text-align: center;
}

.header__img {
  height: 30px;
}

.header__img-box {
  height: 38px;
}

.header__search {
  width: 100%;
  border: 2px solid #e1e1e1;
  border-radius: 10px;
  height: 50px;
  padding-left: 10px;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.header__search:focus {
  outline: none;
}

.header__search:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.header__submit {
  background-color: #0095ff;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 15px;
}

.header__submit-box {
  margin: 8px 0 16px 0;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 16px;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 16px 3.125%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__img {
    height: 20px;
  }
  .header__img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__search {
    width: 30%;
    height: 50px;
    margin-left: auto;
  }
  .header__submit {
    width: 40%;
    margin: 0 24px;
  }
  .header__submit-box {
    margin: 0;
    width: 25%;
  }
  .header__avatar {
    margin: 0;
  }
}

.vid-video {
  height: 183px;
  width: 100%;
  position: relative;
  z-index: -1;
}

.vid-button {
  width: 90%;
  padding: 0 5%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 300px;
}

.vid-right {
  border-radius: 10px;
  width: 70px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video-range {
  overflow: hidden;
  border-radius: 5px;
  width: 80%;
  height: 5px;
  -webkit-appearance: none;
  background-color: #323232;
}

.video-range::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #323232;
  margin-top: -1px;
}

.video-range::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #323232;
  -webkit-box-shadow: -80px 0 0 80px #323232;
          box-shadow: -80px 0 0 80px #323232;
}

.video__range {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-button {
  width: 25px;
  height: 20px;
}

.video__play-box {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 50px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
  margin-right: 8px;
}

.about {
  padding: 0 5%;
}

.about__title {
  margin: 32px 0 16px 0;
}

.about__date {
  margin: 0 0 0 8px;
  color: #afafaf;
  font-weight: 100;
}

.about__date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__author {
  margin: 0;
}

.about__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0 24px 0;
  border-bottom: 2px solid #e1e1e1;
}

.about__view__num {
  margin: 0 0 0 8px;
  font-weight: 300;
}

.about__like__img {
  margin-left: 10%;
}

.about__para {
  margin: 24px 0 40px 0;
}

.about__para-text {
  margin: 0;
  font-weight: 100;
}

.commentsInput {
  padding: 0 5%;
}

.commentsInput__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.commentsInput-avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-top: 60px;
}

.commentsInput__title {
  margin: 0;
}

.commentsInput__form {
  width: 75%;
  margin-top: 32px;
}

.commentsInput__form-title {
  text-transform: uppercase;
  font-size: 12px;
  color: #afafaf;
}

.commentsInput__form-input {
  height: 50px;
  border: 2px solid #e1e1e1;
}

.commentsInput__form-input {
  width: 97%;
  height: 80px;
  border-radius: 10px;
}

.commentsInput__form-submit {
  width: 100%;
  background-color: #0095ff;
  margin-top: 16px;
  height: 40px;
  border-radius: 10px;
}

.comments {
  margin-top: 32px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #afafaf;
}

.comments-avatar {
  background-color: grey;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-top: 20px;
}

.comments__date {
  font-weight: 200;
  color: #afafaf;
}

.comments__textbox {
  font-weight: 300;
}

.comments__box {
  width: 70%;
}

.comments__box-namedate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.next {
  padding: 0 5%;
}

.next-title {
  margin: 40px 0;
  text-transform: uppercase;
  color: #afafaf;
}

.next__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.next__video-thumbnail {
  height: 70px;
  width: 120px;
}

.next__video-title {
  margin: 0 0 0 16px;
  font-weight: 200;
  font-size: 15px;
  font-family: a-demi;
}

.next__video-author {
  margin: 0 0 0 16px;
  font-weight: 100;
  font-size: 15px;
}

.next__video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html,
body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */